/* styles.css */

/* Navbar styles */
.navbar {
  background-color: #343a40;
  color: #fff;
}

.navbar-brand {
  font-size: 28px;
}

.nav-link {
  color: #fff;
  font-size: 16px;
}


/* Main container styles */
.container {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/* Header styles */
h1 {
  font-size: 36px;
  margin: 20px 0;
}

/* Button styles */
.btn {
  margin: 10px;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

/* Home page specific styles */
.home {
  background-color: #f8f9fa;
  padding: 40px;
}

/* Introduction page specific styles */
.introduction {
  background-color: #f8f9fa;
  padding: 40px;
}

/* About page specific styles */
.about {
  background-color: #f8f9fa;
  padding: 40px;
}

/* Activities page specific styles */
.activities {
  background-color: #f8f9fa;
  padding: 40px;
}

/* About page specific styles */
.about {
background-color: #9ea3a7;
padding: 5px;
text-align: left;
}
.aboutme {
  background-color: #333333;
  padding: 10px;
  text-align: left;
}
.addressme {
  background-color: #333333;
  padding: 10px;
  text-align: left;
}
.contactme {
  background-color: #666666;
  padding: 10px;
  text-align: left;
}
.edume {
  background-color: #666666;
  padding: 10px;
  text-align: left;
}

.about h1 {
font-size: 36px;
margin: 20px 0;
}

.about p {
color: #fff;
font-size: 18px;
}

.about img {
max-width: 100%;
height: auto;
}

.about .btn {
margin: 10px;
}

/* Rounded border styles */
.rounded {
  border-radius: 20px; /* ปรับค่าตามความต้องการ */
}
.text-color {
  color: #444444; /* เปลี่ยนสีตัวอักษรเป็นสีแดง (#FF0000) หรือสีที่คุณต้องการ */
}
.text-color-background {
  background-color: white; /* เปลี่ยนสีพื้นหลังเป็นสีขาว */
  padding: 10px; /* ปรับค่าการเว้นระหว่างข้อความตามความต้องการ */
}

@font-face {
  font-family: 'Kanit-Regular';
  src: url('./fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.thai-text {
  font-family: 'Kanit-Regular', sans-serif; 
}
.centered-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Background image styles */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8; /* คุณสามารถปรับค่า opacity ตามความต้องการ */
}

img.img-small {
  width: 500px; /* ปรับค่าความกว้างตามความต้องการ */
  height: auto; /* ใช้ 'auto' เพื่อคงความสัดส่วน */
}
img.img-med {
  width: 1300px; /* ปรับค่าความกว้างตามความต้องการ */
  height: auto; /* ใช้ 'auto' เพื่อคงความสัดส่วน */
}
img.img-with-border {
  border: 4px solid white; /* ปรับค่าขอบและสีตามความต้องการ */
}


